<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,295},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>role_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,339},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>role_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{156,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,187}}</string>
                <key>sourceSize</key>
                <string>{156,187}</string>
            </dict>
            <key>role_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,160},{177,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,133}}</string>
                <key>sourceSize</key>
                <string>{177,133}</string>
            </dict>
            <key>role_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,160},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>role_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>role_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,187}}</string>
                <key>sourceSize</key>
                <string>{156,187}</string>
            </dict>
            <key>role_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{177,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,133}}</string>
                <key>sourceSize</key>
                <string>{177,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{445,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7babc7a0bfe9e6d9582144baa8f25982:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
