<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,249},{329,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,235}}</string>
                <key>sourceSize</key>
                <string>{329,235}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{329,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,245}}</string>
                <key>sourceSize</key>
                <string>{329,245}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,616}}</string>
                <key>sourceSize</key>
                <string>{540,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reslut.png</string>
            <key>size</key>
            <string>{951,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffd009b6f0ae1feed5befd7027e41189:1/1$</string>
            <key>textureFileName</key>
            <string>reslut.png</string>
        </dict>
    </dict>
</plist>
