<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,140},{89,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,131}}</string>
                <key>sourceSize</key>
                <string>{89,131}</string>
            </dict>
            <key>role_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>role_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,147},{105,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,138}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>role_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{129,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,136}}</string>
                <key>sourceSize</key>
                <string>{129,136}</string>
            </dict>
            <key>role_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{74,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,148}}</string>
                <key>sourceSize</key>
                <string>{74,148}</string>
            </dict>
            <key>role_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,78},{74,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,153}}</string>
                <key>sourceSize</key>
                <string>{74,153}</string>
            </dict>
            <key>role_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,159}}</string>
                <key>sourceSize</key>
                <string>{122,159}</string>
            </dict>
            <key>role_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{126,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,143}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{535,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75bbb0781a89574c763b9d995744b07b:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
